body {
    background-color: #555;
    font-family: sans-serif;
    line-height: 2em;
    text-align: center;
}

.container {
    width: 640px;
    padding: 1rem;
    margin: 1rem auto;
    background-color: #aaa;
}

.accordion-wrapper {
    background-color: #eee;
    padding: 1rem;
    border: 3px dashed aqua;
    text-align-last: left;
}

section button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    color: #555;
    cursor: pointer;
    padding: 18px 36px 18px 30px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
    max-height: 3rem;
}

.btn-active, section button:hover {
    background-color: #888;
    color: #eee;
}

section div {
    padding: 0 2rem;
    background-color: #eee;
    /* max-height: 0 instead of display none, 
    to animate height expanding */
    max-height: 0; 
    overflow: hidden;
    text-align: left;
    /* change to max-height takes 0.5 seconds,
    which gives the animation effect */
    transition: max-height 0.5s ease-out;
}

.plus {
    font-size: 1.5rem;
    font-weight: bold;
}

h1, h2, h3 {
    color: #fff;
}

.menu-label {
    font-size: 1.1rem;
    font-weight: bold;
    /* background-color: orange; */
}